body {
    height: 100vh;
}

.navbar {
    background-color: #ec5a13;
}

.footer {
    background-color: #ec5a13;
    min-height: 5rem;
}

.uploader {
    background-color: #ec5a13;
}

.main {
    background-image: url('../img/23_afcas12.jpg');
    background-size: cover;
    background-position: center;
}

.bgBlanc {
    background-color: white;
}

.description {
    height: 90%;
}

.sup {
    background-color: #ec1818;
    font-size: 12px;
        padding: 5px;
}

.sup:hover {
    border: black solid 1px;
}

.upgrade {
    background-color: #0aaf0d;
    font-size: 12px;
    padding: 5px;
}

.imgUpgrade {
    max-height: 50vh;
}